.main-image {
    h3 {
        padding: 0 0 15px;
    }

    .button {
        display: block;
        width: 250px;
        text-align: center;
    }

    .select-image-btn {
        background-color: transparent;
        border: 1px solid $buttons-green;
        color: $buttons-green;
    }

    .new-file-wrapper {
        border: 2px dotted $grey;
        padding: 15px;
        width: 90%;
    }
}