.navigation-container {
    background-color: $darker-grey;
    color: $dark-grey;
    font-family: $main-font;
    grid-column: 1 / 2;
    height: calc(100%);
    padding: 60px 25px 25px;
    width: auto;

    h2 {
        color: $white;
        padding: 30px 0 10px;
    }

    .logout-btn {
        margin-bottom: 30px;

        &:hover {
            background-color: $red;
        }
    }

    .date {
        padding-bottom: 15px;
    }

    .user-info {
        border: 1px solid $white;
        margin-bottom: 20px;;
        padding: 15px;

        .user,
        .domain  {
            color: $blue;
            font-size:13px;
        }

        .nav_fecha {
            font-size: 13px;
            color: $grey;
        }
    }

    .navigation {
        font-size:15px;
        text-transform:capitalize;

        a {
            color: $dark-grey;
            text-decoration:none;

            &:hover {
                color: $white;
            }
        }
    }

    .nav-items-container {
        color: $dark-grey;
        padding: 15px 30px;

        .nav-item {
            padding: 5px 0;
        }
    }

    .edit-sections-link-container {
        padding: 0 0 10px 0;

    }

    a.edit-sections-link {
        border-bottom: 1px dotted;
        color: white;

        &:hover {
            color: $grey;
        }
    }
}