.text-edit-form {
    label,
    input,
    select {
        display: block;
    }

    label,
    select {
        padding: 20px 0;
    }

    textarea {
        display: none;
    }

    input[type=text],
    .text-input-box {
        border: 1px solid black;
    }

    .text-input-box {
        height: 300px;
        padding: 20px;
        overflow: scroll;
        width: 90%;
    }
}