* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", 'Arial', 'sans-serif';
  font-size: 14px;
  font-weight: 100; }

body {
  background-color: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

button,
input[type=text],
input[type=password] {
  padding: 15px 30px; }

header {
  background-color: #000;
  background-image: url("../resources/header-logo.jpg");
  background-repeat: no-repeat;
  height: 50px;
  width: 100%; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

section {
  padding: 15px 0; }

.button {
  background-color: #3cf971;
  color: white;
  cursor: pointer;
  padding: 15px 30px; }

.button:hover {
  background-color: #1cd651; }

.main-container {
  grid-column: 2 / 4;
  padding: 60px 20px; }

.header {
  background-color: #000;
  background-image: url("../resources/header-logo.jpg");
  background-repeat: no-repeat;
  grid-column: 1 / 4;
  height: 50px;
  width: 100%; }

.logout-btn {
  background: #666;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  font-style: normal;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%; }
  .logout-btn a {
    color: #fff;
    text-decoration: none; }
    .logout-btn a:hover {
      color: #333;
      text-decoration: none; }

.navigation-container {
  background-color: #333333;
  color: #999999;
  font-family: "Courier New", "Courier", "monospace";
  grid-column: 1 / 2;
  height: calc(100vh - 50px);
  padding: 60px 25px 25px;
  top: 50px;
  width: auto; }
  .navigation-container .logout-btn {
    margin-bottom: 30px; }
    .navigation-container .logout-btn:hover {
      background-color: red; }
  .navigation-container .date {
    padding-bottom: 15px; }
  .navigation-container .user-info {
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 15px; }
    .navigation-container .user-info .user,
    .navigation-container .user-info .domain {
      color: #0Cf;
      font-size: 13px; }
    .navigation-container .user-info .nav_fecha {
      font-size: 13px;
      color: #CCC; }
  .navigation-container .navigation {
    font-size: 15px;
    text-transform: capitalize; }
    .navigation-container .navigation a {
      color: #999999;
      text-decoration: none; }
      .navigation-container .navigation a:hover {
        color: white; }
  .navigation-container .nav-items-container {
    color: #999999;
    padding: 15px 30px; }
    .navigation-container .nav-items-container .nav-item {
      padding: 5px 0; }

.login-container {
  grid-column: 2;
  padding-top: 100px; }
  .login-container .login {
    background-color: #CCC;
    color: white;
    margin: auto;
    width: 600px;
    padding: 40px 60px 56px; }
    .login-container .login form > * {
      margin: auto;
      display: block;
      width: 100%;
      padding: 15px 30px; }
    .login-container .login form label {
      padding: 15px 0; }
    .login-container .login form .button {
      margin-top: 30px;
      width: 100%; }
    .login-container .login form .login-message {
      background-color: red;
      border: 1px solid white;
      margin-top: 40px;
      padding: 30px; }

.main-image h3 {
  padding: 0 0 15px; }

.main-image .button {
  display: block;
  width: 250px;
  text-align: center; }

.main-image .select-image-btn {
  background-color: transparent;
  border: 1px solid #3cf971;
  color: #3cf971; }

.main-image .new-file-wrapper {
  border: 2px dotted #CCC;
  padding: 15px;
  width: 90%; }

.text-edit-form label,
.text-edit-form input,
.text-edit-form select {
  display: block; }

.text-edit-form label,
.text-edit-form select {
  padding: 20px 0; }

.text-edit-form textarea {
  display: none; }

.text-edit-form input[type=text],
.text-edit-form .text-input-box {
  border: 1px solid black; }

.text-edit-form .text-input-box {
  height: 300px;
  padding: 20px;
  overflow: scroll;
  width: 90%; }
