# UI Package Managers #
#######################
node_modules
package-lock.json

# Images
cms/images

# IDE - VSCode #
#######################
.vscode/*

# Bash Tasks #
#######################
*.sh

gulpfile.js

.vscode/*
