# UI Package Managers #
#######################
node_modules
package-lock.json

/required/upstream
required/constants.php
required/connection.php
cms/required/constants.php
cms/required/connection.php

cnx

# Images
cms/images

# IDE - VSCode #
#######################
.vscode/

# Bash Tasks #
#######################
*.sh
gulpfile.js
