body {background-color: #FFF; margin:0px}
li 	 {list-style:square; padding-left:0px}
h3 {margin-top:0px;}

#cabezote   {
	width:100%; 
	min-width:1345px; 
	height:50px; 
	margin-bottom:60px;
	background: #000000;
	background-image:url('../iconos/andimier-cms.jpg');
	background-repeat:no-repeat;
	font-size:25px;
	color:#fff;
}
#contenedor {
	width:1345px; 
	height:auto;
	
}

.col1   {
	float:left; 
	width:300px; 
	padding-left:25px; 
	background-image:url(../iconos/contenido_01.png); 
	background-color:#FFF; 
	
}

div#sitioyusuario {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0Cf;
}

.col2  {
	float:left; 
	position:relative;
	width:600px; 
	font-family: 'Libre Baskerville', serif;
	font-style:italic; 
	font-size:15px; 
	color:#333333;
}
.col2 a {color:#666; text-decoration:none;}
.col2 a:hover {color:#000; text-decoration:none;}



.col3   {
	float:left; 
	width:400px; 
	margin-left:20px;
	font-family: 'Libre Baskerville', serif;
	font-style:italic; 
	font-size:15px; 
	 

}

.col1 h2 {color:#000;}
.col2 h2 {color:#999; font-style:normal; font-size:22px;}
.col2 h4 {color:#666; font-style:normal; font-size:16px;}

#cajaediciontextos {

  width: 540px;
  height: 400px;
  border: 1px #999 solid;
  padding: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  font-style:normal;
  background:#ffffff;
  overflow: scroll;
}

#cajaficha {
  width: 540px;
  height: auto;
  border: 1px #999 solid;
  padding: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  font-style:normal;
  background:#ffffff;
  
}

div.etiquetagris {
	width:150px;
	margin-left:0px;
	background:#666;
	color: #fff;
	font-family:Arial;
	font-size: 14px;
	padding:10px;
	font-style: normal;
}

div.etiquetagris a {color: #fff; text-decoration:none;}
div.etiquetagris a:hover {color: #333; text-decoration:none;}

div.etiquetalogout {
	width:200px;
	background:#666;
	color: #fff;
	font-family:Arial;
	font-size: 12px;
	padding:5px;
	font-style: normal;
}

div.etiquetalogout a {color: #fff; text-decoration:none;}
div.etiquetalogout a:hover {color: #333; text-decoration:none;}


#cajafichatecnica {
  width: 540px;
  height: auto;
  border: 1px #999 solid;
  padding: 12px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  font-style:normal;
  
}

.intLink {
	padding:5px;
	cursor: pointer;
}

div.titulos1{
	font-family: 'Libre Baskerville', serif;
	font-style:italic; 
	font-size:20px;
	color:#666;
}

div.titulos1 p{
	font-family: 'Libre Baskerville', serif;
	font-style:italic; 
	font-size:15px;
	color:#666;
}

div.titulos1 a{
	font-family: 'Libre Baskerville', serif;
	font-style:italic; 
	text-decoration:none;
	color:#666;
}

div.titulos1 a:hover{color:#333;}

div.secciones{
	font-family:Arial, Helvetica, sans-serif; 
	text-transform:lowercase;
	font-size:15px;
}

div.secciones a {
	color:#666;
	text-decoration:none;
}
div.secciones a:hover {	color:#333;}

div#contactos {
	width:550px;
	font-family:Arial;
	font-style: normal;
	font-size: 12px;
	color:#666;
}

div#tabla {
	float:left;
	width:250px;
	border: 1px solid #999;
	padding: 5px;
}

input#boton1 {
	background: #666;
	border:none;
	color:#fff;
	cursor:pointer;
	padding:10px;
}

input#btn_eliminar1 {
	
	background: #ff0000;
	margin-left: 2px;
	border:none;
	color: #fff;
	cursor:pointer;
	padding:10px;
}

div.botones {
	float:left;
}

div.imagenes {
	clear: both;
}

.mensaje {
	color:#ff0000;
	font-size:15px;
}

.titulo-rojo a{
	color:#007fff;
	font-size:15px;
}

.titulo-azul{
	color:#007fff;
	font-size:15px;
}

/*============ LOGIN =======================*/

table {
	border-collapse:collapse; 
	vertical-align:top; 
	padding-top:20px;
}

.contenido1 {
	width:400px; 
	margin:auto;
	padding-top:20px; 
	font-family:Arial; 
	font-style:normal; 
	font-size:14px; 
	color:#666
}


.boton {
	background-color:#666; 
	padding:10px;
	border:none; 
	color:#FFF; 
	font-size:14px;
	cursor:pointer;
}

.mensajelogin {
	width:100%; 
	margin:auto;
	font-family:Arial; 
	font-style:normal; 
	font-size:14px; 
	color:#ff0000;
}

ul {
	padding-left:15px;
}

#formulario {
	position:relative;
}
#pantalla {
	position:absolute;
	top:90px;
	left:0px;
	width:570px;
	height:194px;
	background: #ccc;
	opacity:.5;
}


#idioma2 {
	position:absolute;
	top:-75px;
	right:200px;
	width:100px; 
	height:20px;
	padding:5px;
	font-family: 'Libre Baskerville', serif;
	font-style:italic; 
	font-size:15px; 
	text-align:center;
	color:#fff;
	background:#f00;
}

#idioma3 {
	position:absolute;
	top:-75px;
	right:200px;
	width:100px; 
	height:20px;
	padding:5px;
	font-family: 'Libre Baskerville', serif;
	font-style:italic; 
	font-size:15px; 
	text-align:center;
	color:#fff;
	background:#66cc33;
}









